.slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.slide {
    flex: 0 0 auto;
    width: 100%;
    display: none;
    position: relative;
}

.slide:first-child {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

.slide-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 1;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}