.product-details {
  display: flex;
  flex-direction: row;
  margin: 40px 60px;

  .product-image-column {
    width: 50%;
    .product-img {
      width: 100%;
      object-fit: contain;
    }
  }

  .product-details-column {
    width: 50%;
  }

  .product-color {
    display:flex;
    flex-direction: column;

    input {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      margin: 0;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      cursor: pointer;

      &::-webkit-color-swatch {
        border-radius: 50%;
        border: 0px solid #000000;
      }
      &::-moz-color-swatch {
        border-radius: 50%;
        border: 0px solid #000000;
      }
    }
  }

  .product-category {
    display:flex;
    align-items: center;
    h3 {
      margin: 0;
    }
    ul {
      margin: 0;
    }
  }
}

.product-detail-buttons {
  display: flex;
  gap: 12px;
}

.quantity-group {
  margin-top: 20px;
  border: 1px solid darkgrey;
  border-radius: 4px;
  width: fit-content;

  input {
    padding: 10px;
    width: 50px;
    border: none;
  }

  button {
    padding: 10px;
    border: none;
  }
}
