<div class="add-product">
  <h1 class="header-title">Add New Product</h1>
  <p class="message-p">{{ addProductMessage }}</p>
  <form [formGroup]="addProductForm" class="common-form" >
    <div class="input-flex">
      <input type="text" class="form-input" placeholder="Enter Product Name" formControlName="name">
      <input type="text" class="form-input" placeholder="Enter Product Price" formControlName="price">
    </div>
    <div class="input-flex ">
      <input type="text" class="form-input" placeholder="Enter Product Color" formControlName="color">
      <div>
        <input type="text" class="form-input" placeholder="Enter category" formControlName="category" (keydown.enter)="addCategory($event)">
        <ul>
          <li *ngFor="let category of categoryItems">{{ category }}</li>
        </ul>
      </div>
      
    </div>
   

    <textarea type="text" class="form-input" placeholder="Enter Product Description" formControlName="description"></textarea>
    <div class="upload-image-container ">
      <div class="upload-area" (click)="fileInput.click()">
        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
        <p>Click here or drag and drop an image to upload</p>
      </div>
    
      <div class="preview" *ngIf="imageUrl">
        <img [src]="imageUrl" alt="Uploaded Image">
      </div>
    </div>
    <button class="form-button" (click)="submit()">Add Product</button>
  </form>
</div>
