/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Andika&family=Balsamiq+Sans&family=Comforter+Brush&family=Poppins:wght@300&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap");
@import "./icons.scss";
@include icons();

* {
  // font-family: 'Alfa Slab One', cursive;
  // font-family: 'Andika', sans-serif;
  // font-family: 'AR One Sans', sans-serif;
  // font-family: 'Balsamiq Sans', cursive;
  // font-family: 'Comforter Brush', cursive;
  font-family: "Poppins", sans-serif;
  // font-family: 'Roboto', sans-serif;
}

body {
  // font-family: 'Alfa Slab One', cursive;
  font-family: "Andika", sans-serif;
  // font-family: 'Balsamiq Sans', cursive;
  // font-family: 'Comforter Brush', cursive;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Roboto', sans-serif;
}

ul {
  li {
    list-style: none;
  }
}

.common-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid grey;
  padding-left: 15px;
  color: rgb(203, 179, 226);
  border-radius: 4px;

  &:focus {
    outline-offset: 2px;
    outline: 2px solid grey;
  }
}

.form-button {
  height: 35px;
  border: 1px solid grey;
  color: darkgreen;
  cursor: pointer;
  border-radius: 4px;

  &:focus {
    outline-offset: 2px;
    outline: 2px solid darkgreen;
  }
}

.submit-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 0 12px 0;
}

.error-p {
  color: red;
}

.message-p {
  color: green;
  text-align: center;
}

.invalid-input {
  color: red;
  font-size: 12px;
  margin-top: -20px;
}

button:disabled {
  cursor: not-allowed;
}

.max-width {
  width: 100%;
}

.product-carousel {
  .carousel {
    max-width: 600px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .carousel-control-prev,
    .carousel-control-next {
      font-size: 24px;
      color: #000;
      background: none;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      color: #000;
    }

    .carousel-inner {
      .carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        min-height: 300px;
        /* Adjust the minimum height as needed */
        background-color: #f7f7f7;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        .carousel-image {
          max-width: 100%;
          max-height: 200px;
          object-fit: contain;
        }

        .carousel-caption {
          h3 {
            font-size: 18px;
            margin: 10px 0;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// search icon

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;

  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px;
  }
}

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


@mixin scrollbar-styles($thumb-color: #ccc, $track-color: #f4f4f4, $hover-color: #aaa) {

  /* Scrollbar styles */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: 8px;
    border: 2px solid $track-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $hover-color;
  }
}