<div class="container">

  
  
  <div class="carousel-container">
    <app-carousel *ngIf="trendyProducts" [slides]="trendyProducts" [slideStep]="300" [interval]="5000">
    </app-carousel>
  </div>

  
  <h1>All Products</h1>

  <app-card-carousel *ngIf="allProducts"  [items]="allProducts"></app-card-carousel>

  <div class="product-list-wrapper">
    <h1>Popular Products</h1>
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of popularProducts">
        <div class="product-item">
          <img src="{{ item.image }}" alt="" />
          <div class="product-details">
            <h6 class="name-head">{{ item.name }}</h6>
            <div class="product-price">
              <h6>Price:{{ item.price }}</h6>
            </div>
            <div class="product-color">
              <h6>Color:{{ item.color }}</h6>
            </div>
          </div>
          <div class="product-footer">
            <a routerLink="/details/{{ item.id }}">View Details</a>
            <a href="">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <h1>Trendy Products</h1>
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of trendyProducts">
        <div class="product-item">
          <img src="{{ item.image }}" alt="" />
          <div class="product-details">
            <h6 class="name-head">{{ item.name }}</h6>
            <div class="product-price">
              <h6>Price:{{ item.price }}</h6>
            </div>
            <div class="product-color">
              <h6>Color:{{ item.color }}</h6>
            </div>
          </div>
          <div class="product-footer">
            <a routerLink="/details/{{ item.id }}">View Details</a>
            <a href="">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>

    <h1>All Products</h1>
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of allProducts">
        <div class="product-item">
          <img src="{{ item.image }}" alt="" />
          <div class="product-details">
            <h6 class="name-head">{{ item.name }}</h6>
            <div class="product-price">
              <h6>Price:{{ item.price }}</h6>
            </div>
            <div class="product-color">
              <h6>Color:{{ item.color }}</h6>
            </div>
          </div>
          <div class="product-footer">
            <a routerLink="/details/{{ item.id }}">View Details</a>
            <a href="">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>