<div class="container">
  <div class="carousel-container">
    <app-carousel *ngIf="trendyProducts" [slides]="trendyProducts" [slideStep]="300" [interval]="5000">
    </app-carousel>
  </div>

  <h1>All Products</h1>

  <app-card-carousel *ngIf="allProducts" [items]="trendyProducts"></app-card-carousel>

  <div class="product-list-wrapper">
    <h1>Popular Products</h1>
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of popularProducts">
        <div class="product-item">
          <img src="{{ item.image }}" alt="" />
          <div class="product-details">
            <h6 class="name-head" [appTooltip]="item.name" tooltipPosition="left">
              {{ item.name }}
            </h6>
            <div class="product-price">
              <h6>Price:{{ item.price }}</h6>
            </div>
            <div class="product-color">
              <h6>Color:{{ item.color }}</h6>
            </div>
          </div>
          <div class="buttons">
            <a [routerLink]="['/details', item.id]" class="detail-btn">View Details</a>
            <button class="add-to-cart-btn" >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <h1>Trendy Products</h1>
    <div class="row">
      <div class="col-sm-3" *ngFor="let item of trendyProducts">
        <div class="product-item">
          <img src="{{ item.image }}" alt="" />
          <div class="product-details">
            <h6 class="name-head" [appTooltip]="item.name" tooltipPosition="left">{{ item.name }}</h6>
            <div class="product-price">
              <h6>Price:{{ item.price }}</h6>
            </div>
            <div class="product-color">
              <h6>Color:{{ item.color }}</h6>
            </div>
          </div>
          <div class="buttons">
            <a [routerLink]="['/details', item.id]" class="detail-btn">View Details</a>
            <button class="add-to-cart-btn" >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <h1>All Products</h1>

    <div class="category-container">
      <div *ngFor="let category of allProducts | keyvalue" class="category">
        <h2>{{ category.key }}</h2>
        <div class="product-list">
          <div *ngFor="let item of category.value" class="product-item">
            <div class="product-image">
              <img [src]="item.image" alt="{{ item.name }}" />
            </div>
            <div class="product-details">
              <h3>{{ item.name }}</h3>
              <p class="price">$ {{ item.price }}</p>
              <p class="color">Color: {{ item.color }}</p>
              <div class="buttons">
                <a [routerLink]="['/details', item.id]" class="detail-btn">View Details</a>
                <button class="add-to-cart-btn" >Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>